<h1>Welcome to example.com, <%= @user.id %></h1>
<p>
  You have successfully signed up to bisen2310@gamil.com,
  your username is: <%= @user.email %>.<br>
</p>


<p>Hello there, this is the image you requested:</p>
<%= image_tag attachments['image1.jpeg'].url, alt: "Welcome Image" %>



